parameters:
  - name: packages
    type: object

variables:
  - template: ../../vars/vars.yml

stages:
  - template: ../stages/pack-template.yml
    parameters:
      vmImage: ${{ variables.vmImage }}
      dotNetVersion: ${{ variables.dotNetVersion }}
      buildConfiguration: ${{ variables.buildConfiguration }}
      buildPlatform: ${{ variables.buildPlatform }}
      buildProjects: ${{ variables.buildProjects }}
      packages: ${{ parameters.packages }}
