<Project>
	<Import Project="Common.target" />
	<PropertyGroup>
		<TargetFrameworks>net6.0;net7.0;net8.0</TargetFrameworks>
		<IsPackable>true</IsPackable>  
		<Authors>Krosoft</Authors>
		<Copyright>Copyright © 2012</Copyright> 
		<RepositoryUrl>https://github.com/krosoft-dev/Krosoft.Extensions.git</RepositoryUrl> 
		<RepositoryType>git</RepositoryType> 
		<PackageLicenseExpression>MIT</PackageLicenseExpression>
		<GeneratePackageOnBuild>false</GeneratePackageOnBuild>	
	</PropertyGroup> 
</Project>