<Project>
    <Import Project="Common.target" />
	<PropertyGroup> 
      	<IsPackable>false</IsPackable>
		<IsPublishable>false</IsPublishable>
		<IsTestProject>false</IsTestProject> 
	</PropertyGroup>   
</Project>
 