services:
   

  krosoft-extensions.samples.dotnet9.api:
    build:
      context: ..
      dockerfile: Krosoft.Extensions.Samples.DotNet9.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "6009:5000"

  krosoft-extensions.samples.dotnet10.api:
    build:
      context: ..
      dockerfile: Krosoft.Extensions.Samples.DotNet10.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "6010:5000"
