name: Nuget 'Krosoft.Extensions.Events.Identity' - $(Date:yyyy.MM.dd).$(BuildID)

pr: none

resources:
  repositories:
    - repository: Krosoft.Extensions
      type: github
      name: krosoft-dev/Krosoft.Extensions
      endpoint: krosoft-dev

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - "**/Krosoft.Extensions.Events.Identity/*"

extends:
  template: tools/devops/templates/pipelines/nuget-template.yml@Krosoft.Extensions
  parameters:
    packages:
     
     - "Krosoft.Extensions.Events"
     - "Krosoft.Extensions.Events.Identity"
     - "Krosoft.Extensions.Identity.Abstractions"
     - "Krosoft.Extensions.Jobs"

